.customer-select-radio {
  margin-right: 10px;
}

#sidebar-list li{
    border-top-style: dashed;
}

.blue-gradient {
  background: linear-gradient( to bottom, #3D93C9, #1A83BC );
}

.green-gradient {
  background: linear-gradient( to bottom, #68ABC5, #227A9E );
}

.navbar-form {
  height:40px;
  line-height: 20px;
}

.navbar-brand {
    padding-top: 10px;
}

#menubar a{
  color:white;
}

#work-sidebar-title{
  color:white;
}

.horizontal-seperator {
  border-bottom: 1px solid #333;
}

#customer-search-bar {
  background-color: #E0EAF6;
  vertical-align:middle;
}

#customer-search-bar .form-group{
  padding-top: 3px;
}

#customer-info-table .customer-info-table-head{
  background-color: #EAF4EA;
  width:10%;
  text-align:center;
}

#customer-info-table .emphasis-cell{
  color:red;
}

.work-row {
  margin-bottom:15px;
}

.bar-button-triangle {
  color:#CC9966;
  font-size:10px;
}

.button-triangle {
  color:#FF5100;
  font-size:10px;
}

.work-item-icon {
  color:#3499CC;
}

#work-register-table-head th, #work-register-table-head, #last-works-table th{
  text-align:center;
  background-color: #E0EAF6;
  vertical-align:middle;
}

#work-register-memo-input {
  max-width:1000px;
}


.register-design-table-head {
  background-color: #BEE3EC !important;
  border-style: double !important;
  border-color: #9DD5E3 !important;
  border-width:3px !important;
  white-space:nowrap;
  vertical-align: middle;
}

.register-design-table-body {
  background-color: #D9EDF2 !important;
  border-style: double !important;
  border-color: #9DD5E3 !important;
  border-width:3px !important;
}

.design2-table-radio-column {
  width:3%;
}

#design2-table td, th {
  text-align: center;
  vertical-align: middle;
}
